# pip install -r requirements.txt
# If you only run the demo, you can just install the follow package
numpy~=1.21.4
pyyaml~=5.4.1

matplotlib~=3.3.4
pandas~=1.2.4
seaborn~=0.11.1
yaml~=0.2.5
pillow~=8.2.0
scipy~=1.6.2
torchvision~=0.9.2
tqdm~=4.59.0
requests~=2.25.1
pycuda~=2021.1
tensorrt~=0.0.1